[submodule "genpass"]
	path = genpass
	url = git@github.com:baronvertigovongrahamthesecondofsealand/genpass.git
[submodule "dndfumble"]
	path = dndfumble
	url = git@github.com:baronvertigovongrahamthesecondofsealand/dndfumble.git
