[submodule "dndfumble"]
	path = dndfumble
	url = https://github.com/baronvertigovongrahamthesecondofsealand/dndfumble.git
[submodule "genpass"]
	path = genpass
	url = https://github.com/baronvertigovongrahamthesecondofsealand/genpass.git
